body {
    font-size: 16px;
    background: linear-gradient(90deg, blue, hotpink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-shadow: 5px 5px 5px purple;
}

.container{
    background-color: aliceblue;
    /* display: flex; */
    flex-direction: column;
}

.line{
    display: flex;
    justify-content: center;
}

.etch-div{
    width: 20px;
    height: 20px;
    flex: 1;
    
}